<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pet Peers</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" routerLink="/products">PET PEERS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/add-pet">Add Pet</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/products">Buy Pets</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/my-orders">My Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout();">Logout</a>
          </li>
          
          </ul>
      </div>
    </nav>

    <main class="main-container">
      <router-outlet></router-outlet>
    </main>

  </body>
</html>